<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <h3>CONTACT</h3>
        hbp [at] berkeley [dot] edu
      </div>

      <div class="footer-col footer-col-2">
        <a href="https://github.com/henrypinkard">
         <h3>GitHub</h3>
        </a>
      </div>

      <div class="footer-col footer-col-3">
        <a href="https://scholar.google.com/citations?user=-CpByXMAAAAJ&hl=en"> 
          <h3>Google Scholar</h3>
        </a>
      </div>

    </div>
  </div>
</footer>
