<header class="site-header">
  <div class="wrapper">
  <a class="site-title" href="{{ "" | prepend: site.baseurl | prepend: site.url }}/">
      {{ site.title }}
    </a>    
  </div>

<div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
               <a href="https://scholar.google.com/citations?user=-CpByXMAAAAJ&hl=en"> 
          <h3>Google Scholar</h3>
        </a>
      </div>

      <div class="footer-col footer-col-1">
               <a href="https://bsky.app/profile/henrypinkard.bsky.social"> 
          <h3>Bluesky</h3>
        </a>
      </div>

      <div class="footer-col footer-col-2">
        <a href="https://github.com/henrypinkard">
         <h3>GitHub</h3>
        </a>
      </div>

      <div class="footer-col footer-col-3">
        <h3>hbp [at] berkeley [dot] edu</h3>
        
      </div>

    </div>
  </div>


</header>
