.work-item {
  clear: both;
  overflow: hidden;
  padding-bottom: 3em;
}

.work-bubble {
 width: 300px;
 height: 200px;
}

@media (max-width: 768px) {
 .work-bubble {
   width: 100%;
   height: auto;
 }
}