<!DOCTYPE html>
<html>
  {% include head.html %}

<style>
div.main-pic {
  margin-right: 50px;
  margin-left: 50px;
}

</style>

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="home">
          <div style="float: left; margin-top: 10px;  width: 220px; margin: 10px;">
          <img src="{{ page.profile_picture.src | absolute_url }}"  style="border-radius: 50%" />
        </div>
        <div >
            {{ content }}
        </div>
          
        </div>
      </div>
    </div>






    {% include footer.html %}

    {% include foot.html %}
  </body>
</html>

